.product-cart-page {
    position: relative;
    top: 160px;
    margin-left: 100px;
    margin-right: 100px;
}

.product-cart-page-heading {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
    padding-left: 16px;
}

.product-cart-page-cart {
    margin-top: 55px;
}

.product-cart-page-price-list {
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    margin-top: 32px;
}

.product-cart-page-price-list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 10px;
}

.product-cart-page-price-list-item-left {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    width: 94px;
}

.product-cart-page-price-list-item-right {
    display: flex;
    align-items: baseline;
}

.product-cart-page-price-list-item-right span {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}

.product-cart-page-button-order {
    margin-top: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 279px;
    height: 43px;
    padding: 16px 32px;
    background: #5ECE7B;
    border: 1px solid #5ECE7B;
    cursor: pointer;
    margin-bottom: 274px;
}