.header-right-currency {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: baseline;
}

.header-right-currency:hover {
    cursor: pointer;
}

.header-right-currency-icon {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
}


.currency-arrow {
    padding-bottom: 2px;
}
