.product-list-page-listing {
    position: relative;
    top: 160px;
    display: flex;
    flex-flow: row wrap;
}

.product-card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
    list-style: none;
    position: relative;
}

.product-list-page-heading {
    font-weight: 400;
    font-size: 42px;
    line-height: 67px;
    text-transform: uppercase;
    position: relative;
    left: 7.21%
}

.product-card-list {
    margin-top: 103px;
}